/* HTML: <div class="loader-six"></div> */
.loader-six {
  height: 70px;
  aspect-ratio: 1;
  animation: l6 2s infinite;
  border-image: conic-gradient(#3a86ff) fill 0/999px;
}
@keyframes l6 {
  0%,100% {clip-path: shape(from 99.49% 44.97%,curve to 99.49% 55.03% with 100.00% 50.00%,curve to 97.46% 64.89% with 98.98% 60.06%,curve to 93.49% 74.14% with 95.95% 69.72%,curve to 87.74% 82.40% with 91.04% 78.56%,curve to 80.45% 89.34% with 84.45% 86.24%,curve to 71.91% 94.66% with 76.45% 92.43%,curve to 62.47% 98.16% with 67.37% 96.89%,curve to 52.52% 99.68% with 57.57% 99.42%,curve to 42.47% 99.17% with 47.47% 99.94%,curve to 32.72% 96.65% with 37.47% 98.40%,curve to 23.69% 92.21% with 27.98% 94.89%,curve to 15.73% 86.05% with 19.39% 89.54%,curve to 9.17% 78.42% with 12.06% 82.57%,curve to 4.29% 69.62% with 6.28% 74.27%,curve to 1.27% 60.01% with 2.29% 64.97%,curve to 0.26% 50.00% with 0.26% 55.06%,curve to 1.27% 39.99% with 0.26% 44.94%,curve to 4.29% 30.38% with 2.29% 35.03%,curve to 9.17% 21.58% with 6.28% 25.73%,curve to 15.73% 13.95% with 12.06% 17.43%,curve to 23.69% 7.79% with 19.39% 10.46%,curve to 32.72% 3.35% with 27.98% 5.11%,curve to 42.47% 0.83% with 37.47% 1.60%,curve to 52.52% 0.32% with 47.47% 0.06%,curve to 62.47% 1.84% with 57.57% 0.58%,curve to 71.91% 5.34% with 67.37% 3.11%,curve to 80.45% 10.66% with 76.45% 7.57%,curve to 87.74% 17.60% with 84.45% 13.76%,curve to 93.49% 25.86% with 91.04% 21.44%,curve to 97.46% 35.11% with 95.95% 30.28%,curve to 99.49% 44.97% with 98.98% 39.94%)}
  30% {clip-path: shape(from 73.99% 47.36%,curve to 79.87% 53.85% with 72.28% 50.00%,curve to 88.83% 62.47% with 87.47% 57.70%,curve to 79.89% 65.44% with 90.19% 67.25%,curve to 71.86% 69.51% with 69.59% 63.63%,curve to 71.30% 77.50% with 74.14% 75.39%,curve to 64.93% 80.21% with 68.45% 79.61%,curve to 58.77% 85.38% with 61.42% 80.82%,curve to 52.40% 83.06% with 56.12% 89.93%,curve to 44.62% 81.30% with 48.67% 76.18%,curve to 39.82% 79.35% with 40.57% 86.43%,curve to 34.42% 74.21% with 39.08% 72.26%,curve to 21.83% 78.57% with 29.75% 76.16%,curve to 16.56% 74.04% with 13.91% 80.98%,curve to 24.21% 61.81% with 19.20% 67.09%,curve to 14.76% 55.79% with 29.23% 56.52%,curve to 5.19% 50.50% with 0.30% 55.05%,curve to 15.10% 43.28% with 10.08% 45.94%,curve to 25.35% 39.92% with 20.12% 40.63%,curve to 21.89% 28.82% with 30.57% 39.22%,curve to 21.55% 21.22% with 13.21% 18.41%,curve to 33.36% 23.58% with 29.89% 24.02%,curve to 38.67% 18.26% with 36.82% 23.14%,curve to 44.18% 10.34% with 40.52% 13.39%,curve to 50.54% 18.08% with 47.83% 7.29%,curve to 56.70% 25.72% with 53.24% 28.87%,curve to 65.38% 19.77% with 60.16% 22.56%,curve to 76.19% 16.76% with 70.59% 16.97%,curve to 82.03% 22.05% with 81.79% 16.55%,curve to 81.63% 32.12% with 82.27% 27.54%,curve to 78.35% 40.71% with 81.00% 36.70%,curve to 73.99% 47.36% with 75.70% 44.72%);
    animation-timing-function: linear(
    0, 0.015, 0.058 0.7%, 0.238 1.5%, 1.422 4.9%, 1.581 5.7%, 1.622, 1.638, 1.632,
    1.606 7.2%, 1.491 8.1%, 0.727 11.5%, 0.629, 0.593 13.1%, 0.597, 0.613 13.8%,
    0.685 14.6%, 1.174 18%, 1.237, 1.26 19.6%, 1.258, 1.247 20.4%, 1.201 21.2%,
    0.888 24.6%, 0.849, 0.834 26.2%, 0.836, 0.842 26.9%, 0.872 27.7%, 1.071 31.2%,
    1.096, 1.106, 1.101, 1.082 34.3%, 0.955 37.7%, 0.938, 0.932, 0.935,
    0.948 40.9%, 1.029 44.3%, 1.039, 1.043, 1.041, 1.034 47.4%, 0.982 50.9%,
    0.972, 0.977 53.8%, 1.01 57.2%, 1.018 59%, 1.015 60.3%, 0.994 63.7%,
    0.989 65.5%, 0.991 66.9%, 1.004 70.3%, 1.007 72%, 0.995 78.6%, 1.003 85%,
    0.998 91.6%, 1.001
  )}
}

/* HTML: <div class="loader-seven"></div> */
.loader-seven {
  height: 70px;
  aspect-ratio: 1;
  animation: l7 1s alternate infinite linear(
    0, 0.013, 0.053 1%, 0.212 2.1%, 1.035 5.7%, 1.293, 1.446 8.3%, 1.487,
    1.505 9.6%, 1.503, 1.486 10.6%, 1.406 11.8%, 0.979 15.5%, 0.848, 0.774 18.1%,
    0.754, 0.745, 0.746, 0.754 20.3%, 0.794 21.5%, 1.011 25.2%, 1.077 26.6%,
    1.114 27.8%, 1.124, 1.129, 1.129, 1.124 30.1%, 1.104 31.2%, 0.994 35%, 0.961,
    0.942, 0.935 38.7%, 0.936, 0.944 40.6%, 1.015 45.7%, 1.028, 1.033 48.4%,
    1.028 50.4%, 0.992 55.4%, 0.986, 0.983 58.1%, 0.986 60.1%, 1.004 65.1%,
    1.008 67.8%, 0.996 77.3%, 1.002 87.1%, 0.999
  );
  border-image: conic-gradient(#3a86ff) fill 0/999px;
}
@keyframes l7 {
  0% {clip-path: shape(from 88.24% 45.24%,curve to 91.98% 55.69% with 87.83% 50.00%,curve to 92.19% 65.72% with 96.13% 61.37%,curve to 82.51% 71.89% with 88.25% 70.08%,curve to 73.92% 77.12% with 76.76% 73.71%,curve to 67.64% 83.99% with 71.08% 80.54%,curve to 59.29% 86.72% with 64.20% 87.45%,curve to 50.03% 85.75% with 54.37% 85.99%,curve to 41.01% 85.79% with 45.69% 85.51%,curve to 31.92% 84.32% with 36.32% 86.06%,curve to 24.54% 78.88% with 27.52% 82.57%,curve to 14.92% 73.54% with 21.57% 75.19%,curve to 11.17% 65.38% with 8.28% 71.90%,curve to 13.06% 54.43% with 14.06% 58.86%,curve to 10.82% 45.02% with 12.06% 50.00%,curve to 8.58% 33.89% with 9.57% 40.04%,curve to 10.15% 22.35% with 7.59% 27.74%,curve to 18.38% 14.68% with 12.71% 16.96%,curve to 30.31% 13.49% with 24.05% 12.41%,curve to 40.48% 9.19% with 36.56% 14.57%,curve to 49.83% 5.21% with 44.39% 3.81%,curve to 59.83% 9.34% with 55.27% 6.61%,curve to 70.71% 11.45% with 64.39% 12.06%,curve to 81.77% 14.24% with 77.03% 10.83%,curve to 84.04% 25.54% with 86.51% 17.65%,curve to 85.11% 36.95% with 81.57% 33.43%,curve to 88.24% 45.24% with 88.65% 40.47%)}
  to {clip-path: shape(from 99.27% 44.02%,curve to 99.27% 55.98% with 100.00% 50.00%,curve to 96.41% 67.60% with 98.55% 61.97%,curve to 90.85% 78.20% with 94.27% 73.24%,curve to 82.91% 87.15% with 87.43% 83.16%,curve to 73.07% 93.95% with 78.40% 91.15%,curve to 61.88% 98.19% with 67.73% 96.75%,curve to 50.00% 99.64% with 56.03% 99.64%,curve to 38.12% 98.19% with 43.97% 99.64%,curve to 26.93% 93.95% with 32.27% 96.75%,curve to 17.09% 87.15% with 21.60% 91.15%,curve to 9.15% 78.20% with 12.57% 83.16%,curve to 3.59% 67.60% with 5.73% 73.24%,curve to 0.73% 55.98% with 1.45% 61.97%,curve to 0.73% 44.02% with 0.00% 50.00%,curve to 3.59% 32.40% with 1.45% 38.03%,curve to 9.15% 21.80% with 5.73% 26.76%,curve to 17.09% 12.85% with 12.57% 16.84%,curve to 26.93% 6.05% with 21.60% 8.85%,curve to 38.12% 1.81% with 32.27% 3.25%,curve to 50.00% 0.36% with 43.97% 0.36%,curve to 61.88% 1.81% with 56.03% 0.36%,curve to 73.07% 6.05% with 67.73% 3.25%,curve to 82.91% 12.85% with 78.40% 8.85%,curve to 90.85% 21.80% with 87.43% 16.84%,curve to 96.41% 32.40% with 94.27% 26.76%,curve to 99.27% 44.02% with 98.55% 38.03%);}
}

/* HTML: <div class="loader-two"></div> */
.loader-two {
  height: 70px;
  aspect-ratio: 1;
  animation: l2 2s infinite;
  border-image: conic-gradient(#dd2d4a) fill 0/999px;
}
@keyframes l2 {
  0%,100% {clip-path: shape(from 97.5242216976% 60.8470934779%, curve to 88.111466744% 80.3928805396% with 95.0484433951% 71.6941869559%, curve to 71.1502683954% 93.9189848662% with 81.1744900929% 89.0915741234%, curve to 50% 98.7463956091% with 61.1260466978% 98.7463956091%, curve to 28.8497316046% 93.9189848662% with 38.8739533022% 98.7463956091%, curve to 11.888533256% 80.3928805396% with 18.8255099071% 89.0915741234%, curve to 2.4757783024% 60.8470934779% with 4.9515566049% 71.6941869559%, curve to 2.4757783024% 39.1529065221% with 0% 50%, curve to 11.888533256% 19.6071194604% with 4.9515566049% 28.3058130441%, curve to 28.8497316046% 6.0810151338% with 18.8255099071% 10.9084258766%, curve to 50% 1.2536043909% with 38.8739533022% 1.2536043909%, curve to 71.1502683954% 6.0810151338% with 61.1260466978% 1.2536043909%, curve to 88.111466744% 19.6071194604% with 81.1744900929% 10.9084258766%, curve to 97.5242216976% 39.1529065221% with 95.0484433951% 28.3058130441%, curve to 97.5242216976% 60.8470934779% with 100% 50%)}
  30% {clip-path: shape(from 85.0242216976% 60.8470934779%, curve to 80.3178442208% 70.6199870088% with 95.0484433951% 71.6941869559%, curve to 63.3566458721% 84.1460913354% with 65.5872450465% 69.5457870617%, curve to 52.7815116745% 86.5597967068% with 61.1260466978% 98.7463956091%, curve to 31.6312432791% 81.732385964% with 44.4369766511% 74.3731978045%, curve to 23.1506441048% 74.9693338007% with 18.8255099071% 89.0915741234%, curve to 13.7378891512% 55.423546739% with 27.4757783024% 60.8470934779%, curve to 13.7378891512% 44.576453261% with 0% 50%, curve to 23.1506441048% 25.0306661993% with 27.4757783024% 39.1529065221%, curve to 31.6312432791% 18.267614036% with 18.8255099071% 10.9084258766%, curve to 52.7815116745% 13.4402032932% with 44.4369766511% 25.6268021955%, curve to 63.3566458721% 15.8539086646% with 61.1260466978% 1.2536043909%, curve to 80.3178442208% 29.3800129912% with 65.5872450465% 30.4542129383%, curve to 85.0242216976% 39.1529065221% with 95.0484433951% 28.3058130441%, curve to 85.0242216976% 60.8470934779% with 75% 50%);
  animation-timing-function: linear(
    0, 0.015, 0.058 0.7%, 0.238 1.5%, 1.422 4.9%, 1.581 5.7%, 1.622, 1.638, 1.632,
    1.606 7.2%, 1.491 8.1%, 0.727 11.5%, 0.629, 0.593 13.1%, 0.597, 0.613 13.8%,
    0.685 14.6%, 1.174 18%, 1.237, 1.26 19.6%, 1.258, 1.247 20.4%, 1.201 21.2%,
    0.888 24.6%, 0.849, 0.834 26.2%, 0.836, 0.842 26.9%, 0.872 27.7%, 1.071 31.2%,
    1.096, 1.106, 1.101, 1.082 34.3%, 0.955 37.7%, 0.938, 0.932, 0.935,
    0.948 40.9%, 1.029 44.3%, 1.039, 1.043, 1.041, 1.034 47.4%, 0.982 50.9%,
    0.972, 0.977 53.8%, 1.01 57.2%, 1.018 59%, 1.015 60.3%, 0.994 63.7%,
    0.989 65.5%, 0.991 66.9%, 1.004 70.3%, 1.007 72%, 0.995 78.6%, 1.003 85%,
    0.998 91.6%, 1.001
  )}
}

/* HTML: <div class="loader-snake"></div> */
.loader-snake {
  display: inline-grid;
  padding: 5px;
  background: #fff;
  filter: blur(4px) contrast(12);
}
.loader-snake:before {
  content: "";
  height: 40px;
  aspect-ratio: 3;
  --c: #0000 64%,#000 66% 98%,#0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--c)) 100% 100%;
  background-size: calc(200%/3) 50%;
  background-repeat: repeat-x;
  animation: l11 .8s infinite linear;
}
@keyframes l11{
  to {background-position: -200% 0,-100% 100%}
}

/* HTML: <div class="loader"></div> */
.loader-dot-snake {
  display: inline-grid;
  padding: 5px;
  background: #fff;
  filter: blur(4px) contrast(12);
}
.loader-dot-snake:before {
  content: "";
  height: 40px;
  aspect-ratio: 3;
  --c: #0000 64%,#000 66% 98%,#0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--c)) 100% 100%;
  background-size: calc(200%/3) 50%;
  background-repeat: repeat-x;
  mask: repeating-linear-gradient(90deg,#000 0 10%,#0000 0 20%);
  animation: l12 .8s infinite linear;
}
@keyframes l12{
  to {background-position: -200% 0,-100% 100%}
}